html, body {
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #004e8a;
    padding: 1% 0%;
    width: 100%;
}

img {
    height: 10%;
    width: 10%;
    padding-left: 2%;
}

h1 {
    margin: 0%;
    color: white;
}

#titulo {
    background-color: #007BFF;
    border-radius: 0.8%;
    border: solid 0.1px grey;
    padding: 1%;
    width: 54.5%;
    margin: 2% 0% 0% 1%;
}

#formulario {
    margin: 0% 0% 0% 1%;
    width: 54%;
    border: solid 0.1px grey;
    border-radius: 0.8%;
    display: inline-block;
    padding: 1% 1.5% 1.5% 1%;
}

input {
    margin: 1% 0%;
}

#info {
    margin: 1% 0% 1% 1%;
    display: inline-block;
    width: 54.5%;
    background-color: #007BFF;
    border: solid 0.1px grey;
    border-radius: 0.8%;
    padding: 1%;
    color: white;
}

#aprobacion {
    margin: 1% 0% 0% 1%;
    padding: 1%;
    width: 80%;
    border-radius: 2%;
    display: none;
    background-color: #b13e3e;
    color: white;
}

#Error {
    margin: 1% 0% 0% 1%;
    padding: 1%;
    width: 54%;
    border-radius: 2%;
    display: none;
    background-color: #b13e3e;
    color: white;
}

table {

    margin: 0% 0% 0% 1%;
    border-color: #007BFF;

}