@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    margin: 0px;
    color: yellow;
}

/* Header */

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 13vh;
}

header img {
    float: left;
    display: inline;
    position: static;
    margin: 0px;
    padding: 0px;
}

header div {
    display: inline-block;
    position: static;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
}

header h4 {
    font-family: 'Questrial', sans-serif;
}

/* Nav */

ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
    background-color: rgb(128, 59, 59);
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 10px 2%;
    transition-duration: 0.5s;
}

nav a {
    text-decoration: none;
    color: white;
}

ul li:hover {
    background-color: rgb(172, 56, 56);
    padding: 10px 2%;
    transition-duration: 0.5s;
}

/* InfoSKills */

#infoSkills {
    float: left;
    text-align: center;
    width: 30%;
    height: 56vh;
    background-color: rgb(19, 20, 53);
    margin: 0px;
    position: relative;
    left: 0px;
    box-sizing: content-box;
}

#infoSkills img {
    height: 50px;
    border-radius: 50%;
    transform: rotate(-360deg);
    transition-duration: 1s;
}

#infoSkills img:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}

/* proyectos */

#proyectos {
    float: left;
    background-color: rgb(17, 18, 51);
    margin: 0px;
    text-align: center;
    width: 70%;
    height: 100%;
    box-sizing: content-box;
    height: 56vh;
}

#proyectos div {
    width: 65%;
}

/* footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}

@media screen and (max-width:425px) {

    /* header */

    header {
        background-color: black;
        text-align: center;
        padding: 13vh 0vh;
    }

    header div {
        display: none;
    }

    header img {
        float: none;
        left: 0%;
        display: inline-block;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    /* Nav */

    ul li {
        display: block;
        text-align: center;
    }

    /* InfoSkills */

    #infoSkills {
        width: 100%;
        height: 45vh;
    }

    /* Proyectos */

    #proyectos {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #proyectos div {
        width: 100%;
        text-align: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
