html {
    font-family: 'Segoe UI';
    color: #555555;
}

body {
    margin: 0px 40px;
    padding-bottom: 300vh;
}

header {
    margin-bottom: 70px;
    overflow: hidden;
}

#logo {
    margin: 15px 0px 5px 10px;
    float: left;
}

#ulHeader {
    display: inline;
    margin: 0px;
    padding-left: 5px;
    position: relative;
    float: left;
    top: 15px;
}

.liUlHeader {
    display: inline;
    margin-left: 20px;
    font-size: 12px;
}

#VisualStudio {
    color: rgb(34, 34, 34);
    border-left: solid 2px black;
    padding-left: 25px;
    font-size: 18px;
}

#ulHeader2 {
    float: right;
    margin: 0px;
    padding-left: 25px;
    position: relative;
    top: 15px;
}

#SignIn {
    float: right;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 14px;
}

#lupa {
    position: relative;
    top: 4px;
    margin-left: 5px;
    margin-right: 10px;
}

h1 {
    color: black;
    font-size: 57px;
    margin-left: 13px;
}

#cuadroMorado {
    border-radius: 20px;
    background-color: rgb(234, 231, 245);
}

#VSLogoImg {
    height: 70px;
    background-color: rgb(234, 231, 245);
    display: block;
    margin: 0px 800px 0px 10px;
}

#cuadroMoradoInt {
    margin: 10px 2%;
    position: relative;
    top: 30px;
    overflow: hidden;
}

.contenidoCuadrMorado {
    color: black;
    width: 16%;
    display: inline;
    margin: 10px 14px 40px 14px;
    float: left;
}

#WindowLogo {
    display: inline;
    position: relative;
    top: -14px;
    margin: 0px -14px;
}

#Version {
    display: inline;
    position: relative;
    top: -25px;
    border-left: solid 1px black;
    padding-left: 8px;

}

#VS2022 {
    width: 20%;
    position: relative;
}

.CaractGrat {
    position: relative;
}

.botonGratis {
    background-color: rgb(59, 46, 88);
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 150px;
    padding: 15px 0px;
    position: relative;
}

#VistaPrevia {
    border-left: solid 1px black;
    padding-left: 20px;
    position: relative;
}

.masInfo {
    display: inline;
    color: rgb(59, 59, 59);
}

#botonComentarios {
    background-color: rgb(16, 110, 190);
    margin: 0px;
    padding: 6px 6px;
    color: white;
    transform: rotate(-90deg);
    position: fixed;
    right: -40px;
    top: 600px;
}

#comentarios{
    display: inline-block;
    margin: 0px;
}

#lapiz {
    height: 20px;
    margin: 0px;
    display: inline;
    top: 3px;
}

#soporteTecnico:hover {
    visibility : hidden;
}